<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/layout-padrao'">

<section class="aw-layout-content js-content" layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<h1>Cadastro de cidade</h1>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="POST" class="orm-vertical js-form-loading">
			<div class="row">
				<div class="form-group  col-sm-12">
					<label for="nome">Nome</label>
					<input id="nome" class="form-control" />
				</div>
			</div>
			
			<div class="row">
				<div class="form-group  col-sm-12">
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>			
			</div>
		</form>
	</div>
	
</section>
	
</html>